<!-- 
<label for="name">Name: </label>
<input id="name" type="text" [formControl]="name"> -->
<!-- <p>Value: {{ name.value }}</p> --> 

<h3>Simpple Reactive Form Validator</h3>
<BR>
<form [formGroup]="profileForm">

    <label for="first-name">First Name: </label>
    <input id="first-name" type="text" formControlName="firstName">
  
    <label for="last-name">Last Name: </label>
    <input id="last-name" type="text" formControlName="lastName">

    <label for="email">E-mail: </label>
    <input id="email" type="email"  ngModel email="true" formControlName="eMail">
    <label for="mob-Number">Mobile Number: </label>
    <input id="mob-Number" type="text" formControlName="mobNumber">
    <h2>Address</h2>
          
            <label for="street">Street: </label>
            <input id="street" type="text" formControlName="street">
          
            <label for="city">City: </label>
            <input id="city" type="text" formControlName="city">
          
            <label for="state">State: </label>
            <input id="state" type="text" formControlName="state">
          
            <label for="zip">Zip Code: </label>
            <input id="zip" type="text" formControlName="zip">
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <br> 
<p>Complete the form to enable button.</p>
<button type="submit" [disabled]="!profileForm.valid">Submit</button>

<p>Form Status: {{ profileForm.status }}</p>

<p>{{profileForm.value| json}} </p>

  </form>
<h2>------------------------------------------------------------------------------------------------</h2>
<h3> Child to Parent</h3>
<br>




  

 